@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root {
    --primary-color: #ab8155;
    --bg-color: #352f2c;
    --text-color: #fdfdfd;
    --light-color2: #3c3f41;
    --light-color: rgba(119, 119, 119, 0.04);
    --ContTitulo: #f6f6f6;
    --textTitulo: #82190d;
    --textSubTitulo: #82190d;
    --Contener: #fdfdfd;
    --Contener1: #fdfdfd;
    --Contener2: #adb5bd ;
    --Contener3: #eae9e9;
}

*{
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: geometricPrecision;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none !important;
    box-sizing: border-box !important;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 100vh;
}

/*Header - Nav --Cabeçario*/
.banner{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    text-align: center;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100px;
    height: 100%;
    box-shadow: 0 3px 10px var(--light-color2);
    z-index: 99;
}

nav .navbar{
    display: flex;
    max-width: 1290px;
    width: 100px;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 14px;
}

nav a{
    text-decoration: none;
}
nav li{
    list-style: none;
}

.navbar .logo a{
    font-size: 1.2rem;
    color: var(--light-color2);
    text-shadow: 3px 3px 5px var(--light-color2);
    font-weight: 500;
}
nav .navbar .nav-menu{
    height: 100%;
}
.nav-menu .menu{
    width: 500px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu .menu li{
    height: 100%;
}

.nav-menu .menu li a{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 14px;
    color: var(--light-color2);
    text-shadow: 3px 3px 5px var(--textTitulo);
    font-size: 1.1rem;
    font-weight: 500;
}

.menu .submenu{
    position: absolute;
    top: 100px;
    left: 0;
    width: 320px;
    z-index: 2;
    background-color: var(--Contener3);
    box-shadow: 0 1px 2px var(--light-color2);
    border-radius: 4px 4px 4px 4px;
    line-height: 40px;

    display: none;
}

.menu .submenu li{
    padding: 0 22px;
    border-bottom: 1px solid rgba(126, 125, 125, 0.2);
}

.nav-menu .menu li:hover .htmlCss-sub-menu{
    display: block;
}

.nav-menu .menu li a:hover
{
    text-shadow: 3px 3px 5px #71dd8a;
}
.navbar .menu li .submenu .more-sub-menu{
    position: absolute;
    top: 0;
    left: 100%;
    display: none;
    width: 200px;

    z-index: 2;
    background-color: var(--Contener3);
    box-shadow: 0 1px 2px var(--light-color2);
    border-radius: 4px 4px 4px 4px;
    line-height: 40px;
}

.menu li .submenu .more:hover .more-sub-menu{
    display: block;
}

.menu li:hover .htmlcss-arrow,
.menu li:hover .js-arrow{
    transform: rotate(90deg);
}

.menu li a span{
    margin-left: 10px;
    box-shadow: none;
    transition: all 0.3s ease;
}

.bootom{
    background-color:var(--light-color2);
    padding: 5px 20px;
    border-radius: 25px;
    color: var(--Contener3);
    font-weight: 600;
    box-shadow: 3px 3px 10px rgba( 0, 0, 0, 1);
}

.bootom:hover{
    background-color:var(--light-color2);
    color: var(--Contener);
}

.bootom:active{
    box-shadow: none;
}

/*section -- telas de conteudo*/
section{
    color: black;
    width: 100%;
    position: fixed;
    top: 120px;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 79vh;
}

.space-titulo{
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    background-color: var(--Contener2);
    border-radius: 10px 10px 0px 0px;
}
.text-titulo{
    color: var(--textTitulo);
    text-shadow: 3px 3px 5px black;
    font-size: 1.3rem;
    font-weight: 600;
}
.sub-titulo{
    margin-top: 10px;
    font-size: 1rem;
    font-weight: 500;
    text-shadow: 1px 1px 3px black;
    color: var(--textSubTitulo);
}

/*input com Label e messagem de erro*/
.input{
    margin-top: 15px;
    margin-bottom: 22px;
    position: relative;
}

input,
textarea,
select,
button{
    /* reset appeareance */
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    /* box */
    width: 100%;

    /*padding: 10px 0;*/

    border: none;
    border-bottom: 1px solid var(--primary-color);

    background-color: transparent;
    outline: none;

    font-size: 1em;
}

input ~label,
textarea ~label,
select ~label{
    position: absolute;
    top: 2px;
    left: 0;
    transition: .4s;
}

input:focus ~label,
textarea:focus ~label,
select:focus ~label,
.itemInput
{
    transform: translateY(-18px);
    font-size: 0.8em;
    letter-spacing: 0.1em;
}

.error {
    position: absolute;
    font-size: .65em;
    font-weight: 500;
}

.input span.error {
    display: flex;
    padding: 0;
    background-color: rgba(255, 0, 0, 0.1);
}

.input span.error.active {
    border: 1px solid red;
    padding: 0.1em;
    margin-top: -1px;
}

input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3rem;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: -10px;
    color: #fff;
    background-color: #08558b;
    cursor: pointer;
    width: 150px;
    margin-left: auto;
    box-shadow: 2px 2px 4px rgba( 0, 0, 0, 1);
    text-shadow: 1px 1px 4px rgba( 0, 0, 0, 1);
}

.submit{
    margin-top: 10px;
}
#btn-submit:hover {
    background-color: #117a8b;
}

#btn-submit:active {
    box-shadow: none;
}

#btn-submit {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3rem;
    border: none;
    height: 40px;
    border-radius: 20px;
    color: #fff;
    background-color: #08558b;
    cursor: pointer;
    width: 150px;
    margin-left: auto;
    box-shadow: 2px 2px 4px rgba( 0, 0, 0, 1);
    text-shadow: 1px 1px 4px rgba( 0, 0, 0, 1);
}


/*Início section -- main */
/*section -- telas de conteudo*/
section{
    color: black;
    width: 100%;
    position: fixed;
    top: 120px;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height: 100vh;
}

.container{
    width: 1600px;
    height: 700px;
    box-shadow: 0px 10px 1.4em rgba( 0, 0, 0, .4);
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    background-color: var(--light-color);
    border-radius: 10px;
    margin-top: -200px;

}

/*Tabela de usuarios*/
.container .lista{
    width: 100%;
}
.container table{
    background-color: rgba(0, 0, 0, .2) ;
    width: 100%;
    margin: 0px auto;
    border-collapse: collapse;
    overflow-y: scroll;
}

.container table .titulo{
    font-weight: 600;
    border: none;
    background-color: #597d84;
    box-shadow: 0px 3px .4em rgba( 0, 0, 0, .4);
    text-shadow: 3px 3px 5px var(--light-color2);
}
.center{
    text-align: center;
}

tr:nth-child(odd) {
    background-color:rgba(39, 39, 39, 0.10);
}
tr:nth-child(even) {
    background-color: rgba(119, 119, 119, 0.04);
}

.teste:hover{
    background-color: rgba(122, 85, 85, 0.30);
}






/*Final section -- main */









/*footer -- Rodapé*/
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #24252a;
    box-shadow: 0px -3px 10px #464646;
    color: #8c8c8c;
    font-size: .8rem;
    font-weight: 500;
    width: 100%;
    height: 60px;
    padding: 5px 14px;
}

footer .border-top{
    padding-top: 10px;
    border-top:  1px solid rgba(143, 140, 140);
}



